.main-bg {
    background-image: url('../img/mainbg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}
.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.price-content {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

.GitBtn {
    background-color: var(--primary-color);
    border-radius: 25px;
    color: var(--white-color) !important;
}